<!DOCTYPE html>
<html lang="en">
    <%-include("../homePage/includpage/head.ejs")%>
<body>

   

    <div class="wrapper">

        <!-- ======================== Navigation ======================== -->

    <%-include("../homePage/includpage/header.ejs")%>
       

        <!-- ========================  Header content ======================== -->

        <section class="header-content">

            <h2 class="d-none">Slider element</h2>

            <div class="container-fluid">

                <div class="owl-slider owl-carousel owl-theme" data-autoplay="true">

                    <!--Slide item-->

                    <div class="item d-flex align-items-center" style="background-image:url(assets/images/slide-2.jpg)">
                        <div class="container">
                            <div class="caption">
                                <div class="animated" data-start="fadeInUp">
                                    <div class="big-text big-text-sm">
                                        <span>Save now </span>
                                        <span>50%</span>
                                        <span>on new kitchen</span>

                                        <div>
                                            <a href="#" target="_blank" class="btn btn-info btn-block">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="animated d-none" data-start="fadeInUp">
                                    <a href="#" target="_blank" class="btn btn-info">Buy this template</a>
                                    <a href="#" target="_blank" class="btn btn-outline-light"> Get first discount</a>
                                </div>

                                
                            </div>
                        </div>
                    </div>

                    <!--Slide item-->

                    <div class="item d-flex align-items-center" style="background-image:url(assets/images/slide-1.jpg)">
                        <div class="container">
                            <div class="caption">
                                <div class="animated" data-start="fadeInUp">
                                    <div class="promo pt-3">
                                        <div class="title title-sm p-0">Sofa Grace</div>
                                    </div>
                                </div>
                                <div class="animated" data-start="fadeInUp">
                                    Score new arrivals from latest items
                                    <br />
                                    Multipurpose eCommerce template ready
                                </div>
                                <div class="animated" data-start="fadeInUp">
                                    <div class="pt-3">
                                        <a href="#" target="_blank" class="btn btn-outline-warning">Buy now</a>
                                        <a href="#" target="_blank" class="btn btn-outline-light"> Get first discount</a>
                                    </div>
                                </div>
                                <div class="animated" data-start="fadeInUp">
                                    <div class="promo pt-5">
                                        <div class="h6 p-0 m-0">Get special price</div>
                                        <div class="price">
                                            <span>$1499,99</span>
                                            <span>3499,99</span>
                                        </div>
                                        <small class="d-none d-sm-block">** Product prices with discount are available until the end of stock </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Slide item-->

                    <div class="item d-flex align-items-center" style="background-image:url(assets/images/slide-3.jpg)">
                        <div class="container">
                            <div class="caption">
                                <div class="promo text-center">
                                    <div class="animated" data-start="fadeInUp">
                                        <div class="title title-sm p-0">Bathroom Furniture</div>
                                    </div>
                                    <div class="animated" data-start="fadeInUp">
                                        Score new arrivals from latest items
                                        <br />
                                        Multipurpose eCommerce template ready
                                    </div>
                                    <div class="animated" data-start="fadeInUp">
                                        <a href="#" target="_blank" class="btn btn-light">New collection</a>
                                        <a href="#" target="_blank" class="btn btn-outline-light"> Get first discount</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!--/owl-slider-->
            </div>

            <!--Icons-->

            <div class="owl-icons-wrapper">

                <div class="container">

                    <div class="owl-icons owl-carousel owl-theme" data-icons-sm="3" data-icons-md="4" data-icons-lg="8">

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-sofa.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Sofa</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-armchair.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Armchairs</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-chair.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Chairs</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-dining.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Dining tables</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-mediacabinet.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Media storage</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-table.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Tables</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-bookcase.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Bookcase</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-bedroom.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Bedroom</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-nightstand.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Nightstand</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-kidsroom.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Children room</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-kitchen.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Kitchen</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-bathroom.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Bathroom</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-wardrobe.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Wardrobe</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-shocabinet.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Shoe cabinet</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-office.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Office</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-barset.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Bar sets</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-light.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Lightning</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-carpet.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Carpet</figcaption>
                            </figure>
                        </a>

                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-accessories.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Accessories</figcaption>
                            </figure>
                        </a>

                    </div> <!--/owl-icons-->
                </div>

            </div>
        </section>

        <!-- ========================  Popular products  ======================== -->

        <section class="products">

            
            <div class="col-12">


                <!--Products collection-->

                <div class="row">

                    <% if(posts.length > 0 ) { %>
                        <%posts.forEach((post)=>{%>
                    <div class="col-6 col-lg-3">
                        <article>
                            
                            <div class="btn btn-add">
                                <i class="icon icon-cart"></i>
                            </div>
                            
                            <div class="figure-grid">
                                <div class="image">
                                    <a href="/productfullView/<%= post._id %>">
                                        <img src="../assets/img2/<%=post.image%>" width="308px" height="260px" alt="" />
                                    </a>
                                </div>
                                <div class="text">
                                    <h2 class="title h4">
                                        <a href="/productfullView/<%= post._id %>"><%=post.title.slice(0,30)%>...</a>
                                    </h2>
                                    <sub>$ 159,-</sub>
                                    <sup>Mobile No:- <%=post.number%></sup>
                                    <span class="description clearfix">
                                        <%=post.detail.slice(0,50)%>...
                                    </span>
                                </div>
                            </div>
                            
                        </article>
                    </div>

                    <%})%>
                             <%}else{%>
                            <p>No Post In This Database</p>
                              <%}%>
                </div>

                <!--Pagination-->

                <div class="pagination-wrapper">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>

            </div> <!--/product items-->

     
        </section>

        <!-- ========================  Product popup ======================== -->

        <div class="popup-main mfp-hide" id="productid1">

            <!--Product popup-->

            <div class="product">

                <!--Popup-title -->

                <div class="popup-title">
                    <div class="h3 title">
                        Modern sofa
                        <small>product category</small>
                    </div>
                </div>

                <!--Product gallery-->

                <div class="owl-product-gallery owl-theme owl-carousel">
                    <img src="assets/images/item-1.jpg" alt="" width="640" />
                    <img src="assets/images/item-2.jpg" alt="" width="640" />
                </div>

                <!--Popup info-->

                <div class="popup-content">
                    <div class="product-info-wrapper">
                        <div class="row">

                            <!--Left side-->

                            <div class="col-sm-6">
                                <div class="info-box">
                                    <strong>Maifacturer</strong>
                                    <span>Brand name</span>
                                </div>
                                <div class="info-box">
                                    <strong>Materials</strong>
                                    <span>Wood, Leather, Acrylic</span>
                                </div>
                                <div class="info-box">
                                    <strong>Availability</strong>
                                    <span><i class="fa fa-check-square-o"></i> in stock</span>
                                </div>
                            </div>

                            <!--Right side-->

                            <div class="col-sm-6">
                                <div class="info-box">
                                    <strong>Available Colors</strong>
                                    <div class="product-colors clearfix">
                                        <span class="color-btn color-btn-red"></span>
                                        <span class="color-btn color-btn-blue checked"></span>
                                        <span class="color-btn color-btn-green"></span>
                                        <span class="color-btn color-btn-gray"></span>
                                        <span class="color-btn color-btn-biege"></span>
                                    </div>
                                </div>
                                <div class="info-box">
                                    <strong>Choose size</strong>
                                    <div class="product-colors clearfix">
                                        <span class="color-btn color-btn-biege">S</span>
                                        <span class="color-btn color-btn-biege checked">M</span>
                                        <span class="color-btn color-btn-biege">XL</span>
                                        <span class="color-btn color-btn-biege">XXL</span>
                                    </div>
                                </div>
                            </div>

                        </div> <!--/row-->
                    </div> <!--/product-info-wrapper-->
                </div> <!--/popup-content-->

                <div class="popup-table">
                    <div class="popup-cell">
                        <div class="price">
                            <span class="h3">$ 1999,00 <small>$ 2999,00</small></span>
                        </div>
                    </div>
                    <div class="popup-cell">
                        <div class="popup-buttons">
                            <a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>
                            <a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>
                        </div>
                    </div>
                </div>

            </div> <!--/product-->
        </div>


        <section class="blog blog-widget blog-animated">

            <!--Header-->

            <header>
                <div class="container">
                    <h2 class="h2 title">Design stories</h2>
                    <div class="text">
                        <p>
                            Explore and unfold thoughts <a href="blog-grid.html" class="btn btn-main">View all</a>
                        </p>
                    </div>
                </div>
            </header>

            <!--Content-->

            <div class="container">

                <div class="row">

                    <!--Blog item-->

                    <div class="col-md-12 col-lg-4">
                        <article>
                            <a href="article.html" class="blog-link">
                                <div class="image" style="background-image:url(assets/images/product-1.jpg)">
                                    <img src="assets/images/product-1.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>Sep</span>
                                            <strong>08</strong>
                                            <span>2019</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">Home Organizers that Add Color to Your Space</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!--Blog item-->

                    <div class="col-md-12 col-lg-4">
                        <article>
                            <a href="article.html" class="blog-link">
                                <div class="image" style="background-image:url(assets/images/product-2.jpg)">
                                    <img src="assets/images/product-2.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>Sep</span>
                                            <strong>04</strong>
                                            <span>2019</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">How to use room dividers in small spaces</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                    <!--Blog item-->

                    <div class="col-md-12 col-lg-4">
                        <article>
                            <a href="article.html" class="blog-link">
                                <div class="image" style="background-image:url(assets/images/product-3.jpg)">
                                    <img src="assets/images/product-3.jpg" alt="" />
                                </div>
                                <div class="entry entry-table">
                                    <div class="date-wrapper">
                                        <div class="date">
                                            <span>Sep</span>
                                            <strong>01</strong>
                                            <span>2019</span>
                                        </div>
                                    </div>
                                    <div class="title">
                                        <h2 class="h5">How to pick a garden color palette</h2>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>

                </div> <!--/row-->

            </div> <!--/container-->

        </section>


        <section class="instagram">

            <!--Header-->

            <header>
                <h2 class="h6 title">
                    <i class="fa fa-instagram fa-3x"></i> <br>
                    #CodeSparrow
                </h2>
            </header>

            <!--Gallery-->

            <div class="container">

                <div class="gallery clearfix">
                    <a class="item" href="#">
                        <img src="assets/images/product-1.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-2.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-3.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-4.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-5.jpg" alt="Alternate Text">
                    </a>
                    <a class="item" href="#">
                        <img src="assets/images/product-6.jpg" alt="Alternate Text">
                    </a>
                </div> <!--/gallery-->

            </div>

        </section>

        <!-- ========================  Benefits ======================== -->

        <section class="benefits">

            <!--Header-->

            <header class="d-none">
                <div class="container">
                    <h2 class="h2 title">Benefits</h2>
                </div>
            </header>

            <!--Header-->

            <div class="container">

                <div class="row">

                    <!--Icon-->

                    <div class="col-6 col-lg-3" data-tilt>
                        <figure>
                            <div class="icon"><i class="icon icon-gift"></i></div>
                            <figcaption>
                                <span>
                                    <strong>Get your gift</strong> <br />
                                    <small>Are you a new customer?</small>
                                </span>
                            </figcaption>
                        </figure>
                    </div>

                    <!--Icon-->

                    <div class="col-6 col-lg-3" data-tilt>
                        <figure>
                            <div class="icon"><i class="icon icon-rocket"></i></div>
                            <figcaption>
                                <span>
                                    <strong>Fast delivery</strong> <br />
                                    <small>We're shipping all over the world</small>
                                </span>
                            </figcaption>
                        </figure>
                    </div>

                    <!--Icon-->

                    <div class="col-6 col-lg-3" data-tilt>
                        <figure>
                            <div class="icon"><i class="icon icon-history"></i></div>
                            <figcaption>
                                <span>
                                    <strong>Money-back guarantee</strong> <br />
                                    <small>30 day money back gurantee</small>
                                </span>
                            </figcaption>
                        </figure>
                    </div>

                    <!--Icon-->

                    <div class="col-6 col-lg-3" data-tilt>
                        <figure>
                            <div class="icon"><i class="icon icon-diamond"></i></div>
                            <figcaption>
                                <span>
                                    <strong>VIP discounts</strong> <br />
                                    <small>Become VIP member</small>
                                </span>
                            </figcaption>
                        </figure>
                    </div>
                </div> <!--/row-->

            </div> <!--/container-->

        </section>

    <%-include("../homePage/includpage/footer.ejs")%>


    </div> <!--/wrapper-->
    
    <!--Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/ion.rangeSlider.js"></script>
    <script src="../assets/js/magnific-popup.js"></script>
    <script src="../assets/js/owl.carousel.js"></script>
    <script src="../assets/js/tilt.jquery.js"></script>
    <script src="../assets/js/jquery.easypiechart.js"></script>
    <script src="../assets/js/bigtext.js"></script>
    <script src="../assets/js/main.js"></script>
</body>

</html>